POSTGRES_DB={{ cloud_postgres_db }}
POSTGRES_USER={{ cloud_postgres_user }}
POSTGRES_PASSWORD={{ cloud_postgres_password }}
NEXTCLOUD_ADMIN_USER={{ cloud_nextcloud_admin_user }}
NEXTCLOUD_ADMIN_PASSWORD={{ cloud_nextcloud_admin_password }}
REDIS_PASSWORD={{ cloud_redis_password }}
