# Secrets are not stored here.
#
# Supply the Proxmox token through:
#
#   TF_VAR_proxmox_api_token
#
# Supply SSH public keys through:
#
#   TF_VAR_ssh_public_keys
#
# Planned identity:
#
# hostname = komodo-01
# CTID     = 104
# IPv4     = 192.168.2.58/24
# MAC      = 02:00:00:00:01:04
# node     = PROXMOX
#
# Defaults in variables.tf are authoritative unless deliberately overridden.
