[Unit]
Description=Homelab HP ProCurve SNMP Collector
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
Environment="SNMPCONFPATH={{ hp_switch_collector_snmp_config_directory }}"
ExecStart={{ hp_switch_collector_script }}

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true
RestrictSUIDSGID=true
ReadWritePaths={{ hp_switch_collector_state_directory }} {{ hp_switch_collector_textfile_directory }}

[Install]
WantedBy=multi-user.target
