APT::Periodic::Update-Package-Lists "{{ automated_patching_update_package_lists }}";
APT::Periodic::Unattended-Upgrade "{{ automated_patching_unattended_upgrade }}";
APT::Periodic::AutocleanInterval "{{ automated_patching_autoclean_interval }}";
