# Terraform local working/state files
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
!**/*.tfvars.example
**/crash.log
**/crash.*.log

# Protected/local environment files
**/.env
**/*.env
!**/*.env.example

# Local Ansible/runtime material
**/.ansible/
**/*.retry
